{:paths ["src"]
 :aliases {:depstar {:replace-deps ; tool usage is new in 2.x
                       {seancorfield/depstar {:mvn/version "2.0.165"}}
                     :ns-default hf.depstar
                     :exec-args {}}}}
